body{
    background-image:linear-gradient(#1e1e28, #241e2c);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Red Hat Text', sans-serif;
    
}

.container{
    background-image: url(../images/bg-stars.svg);
    height: 40rem;
}

h1 {
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 36px;
    color: #ffffff;
}

.numeros{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
    height: 10rem
    
}

img {
    width: auto;
    height: 2rem;
    padding: 5rem 1rem 0 1rem;
    
}


.numeros div {
    background-color: #31354e;
    width: 5rem;
    height: 5rem;
    align-items: center;
    border-radius: 0.5rem;

}

.numeros-p{
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
    align-items: center;
    color: #d14f70;
    font-size: 30px;
    font-weight: bolder;

}

.data-titulo {
    color: #77758c;
    text-align: center;
    font-size: 14px;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(../images/pattern-hills.svg);
    background-size: cover;
    height: 27rem;
    margin-top: 12rem;
    
}

.social img{
    padding-top: 12rem;
}


@media (min-width: 799px) {
    .container{
        height: 90rem;
    }
    h1 {
        margin-bottom: 4rem;
    }

    .numeros {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 40rem;
        background-color: #1e1e28;
    }

    .numeros div {
        
       margin: 1.5rem;
       align-items: center;
       width: 9rem;
       height: 8rem;
    }

    .numeros-p {
        font-size: 70px;    
    }
    .data-titulo {
        font-size: 20px;
        margin-top: 3rem;
    }

    .social {
        background-size: cover;
    }

    footer {
        display: flex;
        align-items:flex-end;
        margin-top: 11rem;
        padding-left: 33rem;
    }
}

@media (min-width: 1200px) {
    h1 {
        margin-bottom: 6rem;
    }

    .numeros{
        height: 4rem;
    }

    .container {
        height: 34rem;
    }

    .social {
        height: 16em;
    }
}
